<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-4">
      <div
        class="card mb-4"
        style="display: flex; flex-direction: column; height: 100%"
      >
        <div
          class="card-body"
          style="
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: top;
          "
        >
          <div>
            <h5 class="card-title">$30200</h5>
            <p class="card-text">All Earnings</p>
          </div>
          <div class="svg-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-coin"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
              <path
                d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"
              />
              <path d="M12 7v10" />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-4">
      <div
        class="card mb-4"
        style="display: flex; flex-direction: column; height: 100%"
      >
        <div
          class="card-body"
          style="
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: top;
          "
        >
          <div>
            <h5 class="card-title">290+</h5>
            <p class="card-text">Active Buses</p>
          </div>
          <div class="svg-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-clock"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
              <path d="M12 7v5l3 3" />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-4">
      <div
        class="card mb-4"
        style="display: flex; flex-direction: column; height: 100%"
      >
        <div
          class="card-body"
          style="
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: top;
          "
        >
          <div>
            <h5 class="card-title">1000+</h5>
            <p class="card-text">Trips</p>
          </div>
          <div class="svg-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-road"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 19l4 -14" />
              <path d="M16 5l4 14" />
              <path d="M12 8v-2" />
              <path d="M12 13v-2" />
              <path d="M12 18v-2" />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-4">
      <div
        class="card mb-4"
        style="display: flex; flex-direction: column; height: 100%"
      >
        <div
          class="card-body"
          style="
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: top;
          "
        >
          <div>
            <h5 class="card-title">10k</h5>
            <p class="card-text">Downloads</p>
          </div>
          <div class="svg-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-download"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
              <path d="M7 11l5 5l5 -5" />
              <path d="M12 4l0 12" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4" style="height: auto">
    <div class="card-body">
      <div class="container main-container">
        <div class="row">
          <div class="chart-container col-chart mb-4">
            <div class="chart">
              <canvas id="BarChart"></canvas>
            </div>
          </div>

          <div class="chart-container col-chart mb-4">
            <div class="chart">
              <canvas id="DoughnutChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
