.main-container {
  padding: 20px 0px;
  height: 100vh;
}
.search label {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.search input::placeholder {
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.search button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .main-container {
    padding: 10px;
  }

  .search {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .search input {
    width: 40%;
    max-width: 200px;
    margin-right: 5px;
  }

  .search button {
    padding: 8px 5px;
  }
}
