<div class="container main-container">
    <div class="row search-container">
    <form
      class="form-inline searchForm"
      style="display: flex; align-items: center"
    >
      <div class="form-group mx-sm-3 mb-2">
        <input
          type="text"
          class="form-control"
          id="bus-number"
          placeholder="Search Bus No."
        />
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
  </div>
  <div class="row" id="map" style="height: 500px"></div>
</div>
