.main-container {
  display: flex;
  flex-direction: column;
  padding: 60px;
  min-height: 100vh;
  background-color: #fff;
  opacity: 0;
  animation: fadeIn 0.8s forwards;
  border-radius: 5px;
}
.row {
  display: flex;
  flex-wrap: nowrap;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.section-title {
  color: #1c2025;
  font-size: 48px;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
  margin: 0 10px 60px -4px;

  letter-spacing: 2px;
  font-family: "Khand", sans-serif;
  opacity: 0;
  transform: translateY(-20px);
  animation: titleFadeIn 0.5s forwards;
  animation-delay: 0.2s;
}

@keyframes titleFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-subtitle {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 2px solid #ff8c32;
  border-right: 2px solid #ff8c32;
  display: inline-block;
  padding: 0 15px;
  line-height: 1.2 !important;
  opacity: 0;
  transform: translateY(-10px);
  animation: subtitleFadeIn 0.5s forwards;
  animation-delay: 0.4s;
  box-sizing: border-box;
  width: fit-content;
}

@keyframes subtitleFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  text-align: center;
  color: #30353e;
  margin: 0 0 30px;
  line-height: 1.8 !important;
  letter-spacing: 1px !important;
  opacity: 0;
  transform: translateY(10px);
  animation: paragraphFadeIn 0.5s forwards;
  animation-delay: 0.6s;
}

@keyframes paragraphFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardAnimation {
  opacity: 0;
  animation: cardScaleIn 0.8s forwards;
  transition: background-color 0.3s ease;
}

@keyframes cardScaleIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cardAnimation:hover {
  background-color: #333333;
  color: white;
  transform: scale(1.05);
}

.card-body:hover p {
  color: white;
}

svg {
  color: #ff8c32;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

hr {
  border-top: 2px solid #ff8c32;
  width: 40px;
  margin: 1.3em auto;
  position: relative;
  opacity: 1;
}
