.main-container {
  display: flex;
  flex-direction: column;
  padding: 60px;
  min-height: 100vh;
  background-color: #fff;
  opacity: 0;
  animation: fadeIn 0.8s forwards;
  border-radius: 5px;
}
.row {
  display: flex;
  flex-wrap: nowrap;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.section-title {
  color: #1c2025;
  font-size: 48px;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
  margin: 0 10px 60px -4px;

  letter-spacing: 2px;
  font-family: "Khand", sans-serif;
  opacity: 0;
  transform: translateY(-20px);
  animation: titleFadeIn 0.5s forwards;
  animation-delay: 0.2s;
}

@keyframes titleFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-subtitle {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 2px solid #ff8c32;
  border-right: 2px solid #ff8c32;
  display: inline-block;
  padding: 0 15px;
  line-height: 1.2 !important;
  opacity: 0;
  transform: translateY(-10px);
  animation: subtitleFadeIn 0.5s forwards;
  animation-delay: 0.4s;
  box-sizing: border-box;
  width: fit-content;
}

@keyframes subtitleFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  text-align: center;
  color: #30353e;
  margin: 0 0 30px;
  line-height: 1.8 !important;
  letter-spacing: 1px !important;
  opacity: 0;
  transform: translateY(10px);
  animation: paragraphFadeIn 0.5s forwards;
  animation-delay: 0.6s;
}

@keyframes paragraphFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardAnimation {
  opacity: 0;
  animation: cardScaleIn 0.8s forwards;
  transition: background-color 0.3s ease;
}

@keyframes cardScaleIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.svg-container {
  background-color: #ff8c32;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

svg {
  color: #fff;
  height: 70%;
  width: 70%;
}

hr {
  border-top: 2px solid #ff8c32;
  width: 40px;
  margin: 1.3em auto;
  position: relative;
  opacity: 1;
}

.contactBtn {
  background-color: #1c2025;
  color: #fff !important;
  border-radius: 0;
  font-family: "Khand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0 32px;
  margin: 30px 0 30px 0;
  letter-spacing: 1px;
  height: 40px;
  line-height: 42px;
  border: none;
  cursor: pointer;
  animation: none;
  width: 150px;
  display: inline-block;
}

@keyframes buttonHover {
  0% {
    background-color: #1c2025;
    transform: scale(1);
  }
  50% {
    background-color: #ff8c32;
    transform: scale(1.05);
  }
  100% {
    background-color: #1c2025;
    transform: scale(1);
  }
}

.contactBtn:hover {
  animation: buttonHover 0.5s ease forwards;
}

@keyframes inputAnimation {
  0% {
    transform: scale(1);
    background-color: #ffffff;
  }
  50% {
    transform: scale(1.02);
    background-color: #f0f0f0;
  }
  100% {
    transform: scale(1);
    background-color: #ffffff;
  }
}

input:focus,
textarea:focus {
  animation: inputAnimation 0.5s ease-in-out;
  outline: none;
  border: 1px solid #ff8c32;
  box-shadow: none;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s ease;
}

