<div class="container main-container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarTogglerDemo03"
          >
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item" [ngClass]="{ active: activeLink === '/home' }">
                <a
                  class="nav-link me-3"
                  routerLink="/home"
                  (click)="setActiveLink('/home')"
                  >Home</a
                >
              </li>
              <li
                class="nav-item"
                [ngClass]="{ active: activeLink === '/about' }"
              >
                <a
                  class="nav-link me-3"
                  routerLink="/about-us"
                  (click)="setActiveLink('/about')"
                  >About</a
                >
              </li>
              <li
                class="nav-item"
                [ngClass]="{ active: activeLink === '/our-services' }"
              >
                <a
                  class="nav-link me-3"
                  routerLink="our-services"
                  (click)="setActiveLink('/our-services')"
                  >Services</a
                >
              </li>
            </ul>
          </div>

          <div class="form-inline my-2 my-lg-0">
            <button
              [ngClass]="{ active: activeLink === '/contact-us' }"
              routerLink="/contact-us"
              type="button"
              class="contactBtn"
              (click)="setActiveLink('/contact-us')"
              [ngStyle]="
                activeLink === '/contact-us'
                  ? { color: '#ff8c32', backgroundColor: 'white' }
                  : { color: 'white', backgroundColor: '#ff8c32' }
              "
              style="padding: 8px 10px; border: none; cursor: pointer"
            >
              Contact
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
