.main-container {
  padding: 20px 0;
  min-height: 100vh;
}

.card {
  padding: 20px;
}

.viewIcon {
  color: #ff8c32;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

th {
  font-size: 16px;
  font-weight: 500;
}

td {
  font-size: 16px;
  font-weight: 400;
}

/* Animation for table rows */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

tbody tr {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
  animation-delay: calc(var(--row-index) * 0.1s);
}

tbody tr:hover {
  background-color: rgba(255, 140, 50, 0.2);
  transform: scale(1.02);
  transition: background-color 0.3s, transform 0.3s;
}

tbody tr:nth-child(1) {
  --row-index: 0;
}
tbody tr:nth-child(2) {
  --row-index: 1;
}

.pagination {
  margin-top: 20px;
}

.pagination .page-link {
  border: none;
  background: transparent;
}
.pagination .page-item {
  margin: 0 2px;
}

.pagination .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-chevron-left,
.icon-chevron-right {
  width: 20px;
  height: 20px;
  color: #ff8c32;
}

.pagination .page-item.active .page-link {
  background-color: #ff8c32;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination .page-link:hover {
  background-color: rgba(255, 140, 50, 0.2);
}

.page-item.active .page-link {
  background-color: #ff8c32;
  color: white;
  transition: background-color 0.3s;
}

.page-item .page-link {
  color: #ff8c32;
}

.page-link:hover {
  background-color: rgba(255, 140, 50, 0.2);
}

.page-item.disabled .page-link {
  color: #ccc;
  cursor: not-allowed;
}

.form-group {
  width: 60px; 
}

