<div class="container-fluid main-container">
  <div class="row">
    <div class="col-6">
      <p class="section-subtitle">About</p>
      <h3 class="section-title">BuniBox</h3>
      <p>
        BuniBox is a cutting-edge bus tracking company dedicated to transforming
        the public transit experience for passengers. Our innovative platform
        provides real-time updates on the location and status of buses within
        the transit system, allowing users to plan their journeys with
        confidence and ease.
      </p>
      <p>
        With BuniBox, passengers can effortlessly view estimated arrival times,
        track buses on an interactive map, and receive timely notifications
        about delays or service changes. Our user-friendly interface is designed
        to enhance the overall travel experience, offering valuable insights
        into bus routes, stops, and connections.
      </p>
      <p>
        Whether commuting to work, running errands, or enjoying leisure
        activities, BuniBox ensures that passengers have access to accurate and
        up-to-date information. By empowering users to make informed decisions,
        we help reduce wait times and improve the efficiency of their journeys.
        Trust BuniBox to keep you connected to your transit system and make
        every trip smoother and more enjoyable.
      </p>
      <button class="aboutBtn">Contact us</button>
    </div>
    <div class="col-6">
      <img class="aboutImg" src="../../assets/hero-home.jpg" alt="" />
    </div>
  </div>
</div>
