.main-container {
  padding: 40px 0px;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.top button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 42px;
  background: none;
  border: 15px solid #ada9a9;
  border-left: none;
  position: relative;
  margin: 5px;
}

.top p {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid black;
  border-left: 1px solid black;
  width: 40px;
  height: 25px;
  border-radius: 3px;
  border-top-right-radius: 0px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seat-gap {
  height: 55px;
  width: 20px;
  margin: 0 5px;
}
.status {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.status svg {
  height: 15px;
  width: 15px;
}
.status p {
  font-size: 14px;
  font-weight: 500;
}
.row {
  display: flex;
  align-items: stretch;
}
.search label {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.search input::placeholder {
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.search button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.card {
  flex: 1;
  height: 320px;
  padding: 10px 0px;
}

.card-body {
  padding: 10px;
}
.left {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.left p {
  font-size: 16px;
  font-weight: 500;
}
.door {
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  text-align: center;
  padding: 6px;
  padding-bottom: 0px;
  padding-top: 0px;
}
