<div class="container main-container">
  <div class="row search-container">
    <form
      class="form-inline searchForm"
      style="display: flex; align-items: center"
    >
      <div class="form-group mx-sm-3 mb-2">
        <input
          type="text"
          class="form-control"
          id="bus-number"
          placeholder="Search Bus No."
        />
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="table-heading" scope="col">seat number</th>
          <th scope="col">seats status</th>
          <th scope="col">door status</th>
          <th scope="col">location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>occupied</td>
          <td>open</td>
          <td>Imenti</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>occupied</td>
          <td>closed</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>empty</td>
          <td>open</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
