.main-container {
  padding: 40px 0px;
  height: auto;
}
.row1 {
  position: absolute;
  left: 25px;
  top: 20px;
}
.row2 {
  position: absolute;
  right: 0;
  top: 0;
}
.row3 {
  position: absolute;
  top: 50px;
  right: 0;
}
.row4 {
  top: 80px;
  right: 0;
}
.row5 {
  top: 75px;
  left: 15px;
}
.row6 {
  top: 75px;
}
.row7 {
  top: 70px;
  left: 15px;
}
.row8 {
  top: 70px;
}
.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.top button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background: none;
  border: 15px solid #ada9a9;
  border-left: none;
  position: relative;
  margin: 5px;
}

.top p {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid black;
  border-left: 1px solid black;
  width: 30px;
  height: 25px;
  border-radius: 3px;
  border-top-right-radius: 0px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seat-gap {
  height: 55px;
  width: 20px;
  margin: 0 5px;
}
.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.status svg {
  height: 15px;
  width: 15px;
}
.status p {
  font-size: 14px;
  font-weight: 500;
}
.row {
  display: flex;
  align-items: stretch;
}
.search label {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.search input::placeholder {
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.search button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.rowfl {
  display: flex;
}
.fl1 {
  /* max-width: 400px;
  width: 100%; */
  flex: 1;
}
.fl2 {
  /* max-width: 750px;
  width: 100%; */
  flex: 2;
}

.card {
  flex: 1;
  height: 258px;
  padding: 10px 0px;
}

.card-body {
  padding: 10px;
}
.left {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.left p {
  font-size: 16px;
  font-weight: 500;
}
.door {
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  text-align: center;
  padding: 6px;
  padding-bottom: 0px;
  padding-top: 0px;
  position: absolute;
  bottom: 10px;
  left: 180px;
}
.bottom-container {
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.bottom2left-container {
  justify-content: flex-start;
}
.bottom2-container {
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.bottomleft-container {
  justify-content: flex-start;
}
.mid-container {
  justify-content: flex-end;
}
.top2-container {
  justify-content: flex-end;
}
.top-container {
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.img {
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  .fl1 {
    max-width: 220px;
    width: 100%;
  }
  .fl2 {
    max-width: 750px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main-container {
    height: auto;
    width: 100%;
  }
  .fl1,
  .fl2 {
    max-width: 100%;
    width: 100%;
    flex: none;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .main-container {
    overflow-x: hidden;
    height: auto;
    padding: 20px 30px;
    width: 100%;
  }
  .row {
    flex-direction: column; /* Stack all rows vertically */
    align-items: stretch; /* Ensure full width for each container */
  }

  .top-container {
    flex-direction: column;
    align-items: self-end;
  }
  .row1 {
    right: 0;
    left: auto;
    right: 50px;
  }
  .row2 {
    top: 135px;
  }

  .row3 {
    top: 135px;
    right: 50px;
  }
  .row4 {
    top: 720px;
    right: 110px;
  }
  .row5 {
    top: 0;
    left: 65px;
  }
  .row6 {
    top: 280px;
    left: 65px;
  }
  .row7 {
    top: 0;
    left: 10px;
  }
  .row8 {
    top: 280px;
    left: 10px;
  }
  .door {
    position: absolute;
    top: 200px;
    left: auto;
  }

  .top2-container {
    position: absolute;
    right: 20px;
    flex-direction: column;
  }
  .mid-container {
    position: absolute;
    right: 20px;
    flex-direction: column;
  }
  .bottom-container {
    position: absolute;
    left: auto;
    flex-direction: column;
  }
  .bottomleft-container {
    position: absolute;
    left: auto;
    flex-direction: column;
  }

  .bottom2left-container {
    position: absolute;
    left: auto;
    flex-direction: column;
  }
  .bottom2-container {
    position: absolute;
    left: auto;
    flex-direction: column;
  }
  .rowfl {
    gap: 10px;
  }
  .fl2,
  .fl1 {
    padding: 0px 40px;
    width: 100%;
  }
  .fl2 .card {
    width: 100%;
    height: 800px;
  }
  .card-body {
    width: 100%;
  }
}
