<div class="container-fluid main-container">
  <div class="row login-container">
    <div class="col-6 left">
      <h3>GPS & Video Tracking</h3>
      <h1>Real-Time Bus Fleet Tracking</h1>
      <p>
        Bus fleet GPS tracking allows you to monitor bus locations and schedules
        in real-time from almost any location.
      </p>
      <button class="quoteBtn">Request A Quote</button>
    </div>
    <div class="col-6 right">
      <div class="form-container">
        <h3>Login</h3>
        <form class="form-inline authForm">
          <div class="form-group mb-2">
            <label for="email" class="sr-only">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
            />
          </div>
          <div class="form-group mb-2 w-100">
            <label for="password" class="sr-only">Password</label>
            <input
              type="password"
              class="form-control w-100"
              id="password"
              placeholder="Password"
            />
          </div>
          <button type="submit" class="authBtn">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
