.main-container {
  padding: 10px 20px 10px 20px;
  background-color: #45474B;
  color: #fff;
}

.left {
  display: flex;
  align-items: center;
  gap: 45px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 45px;
}
.left .item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.right .item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.item p svg {
  color: #FDA403;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.right .social-icons p svg {
  color: #FDA403;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.item p {
  font-weight: 500;
  font-size: 14px;
}
@media (max-width: 768px) {
  .main-container {
    padding: 10px;
  }

  .left, .right {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
    gap: 20px; /* Reduce gap between items */
  }

  .left {
    margin-bottom: 20px; /* Add space between left and right sections */
  }

  .right {
    justify-content: flex-start; /* Align right section to start */
  }

  .item {
    width: 100%; /* Make items take full width */
  }

  .item p {
    font-size: 12px; /* Reduce font size for better readability on mobile */
  }

  .item p svg {
    height: 18px; /* Adjust icon size */
    width: 18px;
  }
}
