.main-container {
  padding: 10px 20px 10px 20px;
  background-color: #45474B;
  color: #fff;
}

.left {
  display: flex;
  align-items: center;
  gap: 45px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 45px;
}
.left .item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.right .item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.item p svg {
  color: #FDA403;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.right .social-icons p svg {
  color: #FDA403;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.item p {
  font-weight: 500;
  font-size: 14px;
}
