<div class="container main-container">
   <div class="mb-5 d-flex align-items-center justify-content-center search">
      <label for="exampleFormControlInput1" class="form-label me-2"
        >Search Bus</label
      >
      <input
        type="text"
        class="form-control me-2"
        id="exampleFormControlInput1"
        placeholder="Search for a bus"
        style="max-width: 300px"
      />
      <button
        type="button"
        class="btn"
        style="
          color: #fff;
          background-color: #fda403;
          padding: 8px 10px;
          border: none;
        "
      >
        Search
      </button>
    </div>

  <div class="row rowContainer">
    <div class="col-6 left">
      <div class="card mb-3" style="width: 35rem">
        <img
          class="card-img-top"
          src="../../assets/bus-4.jpeg"
          alt="Card image cap"
          style="height: 350px; object-fit: cover"
        />
        <div class="card-body">
          <p class="card-text">Camera 1</p>
        </div>
      </div>
    </div>
    <div class="col-6 right d-flex justify-content-between">
      <div class="card mb-3" style="width: 15rem">
        <img
          class="card-img-top"
          src="../../assets/bus-2.jpeg"
          alt="Card image cap"
          style="width: 15rem; height: 10rem"
        />
        <div class="card-body">
          <p class="card-text">Camera 1</p>
        </div>
      </div>
      <div class="card mb-3" style="width: 15rem">
        <img
          class="card-img-top"
          src="../../assets/bus-3.jpeg"
          alt="Card image cap"
          style="width: 15rem; height: 10rem"
        />
        <div class="card-body">
          <p class="card-text">Camera 1</p>
        </div>
      </div>
      <div class="card" style="width: 15rem">
        <img
          class="card-img-top"
          src="../../assets/bus-2.jpeg"
          alt="Card image cap"
          style="width: 15rem; height: 10rem"
        />
        <div class="card-body">
          <p class="card-text">Camera 1</p>
        </div>
      </div>
    </div>
  </div>
</div>
