<div class="container main-container">
  <div class="mb-4 d-flex align-items-center justify-content-center search">
    <label for="exampleFormControlInput1" class="form-label me-2">Search Bus</label>
    <input
      type="text"
      class="form-control me-2"
      id="exampleFormControlInput1"
      placeholder="Search for a bus"
      style="max-width: 300px"
    />
    <button
      type="button"
      class="btn"
      style="color: #fff; background-color: #fda403; padding: 8px 10px; border: none;"
    >
      Search
    </button>
  </div>

  <div class="row rowContainer">
    <div class="col-6 left d-flex align-items-stretch">
      <div class="card main-camera">
        <iframe
          class="card-img-top"
          [src]="currentVideo"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          style="width: 100%; height: 300px;"
        ></iframe>
        <div class="card-body">
          <p class="card-text">{{ currentCameraName }}</p> <!-- Dynamic camera name -->
        </div>
      </div>
    </div>
    <div class="col-6 right d-flex align-items-stretch">
      <div class="card cameras-card">
        <div class="card-body d-flex flex-column justify-content-between">
          <div class="row">
            <div class="col-6" (click)="selectCamera('SuJgKFPD6ZQ', 'Camera 2')">
              <iframe
                class="card-img-top"
                src="https://www.youtube.com/embed/SuJgKFPD6ZQ"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                style="width: 100%; height: 150px;"
              ></iframe>
              <p class="card-text text-center">Camera 2</p>
            </div>
            <div class="col-6" (click)="selectCamera('blglo-PmBXk', 'Camera 3')">
              <iframe
                class="card-img-top"
                src="https://www.youtube.com/embed/blglo-PmBXk"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                style="width: 100%; height: 150px;"
              ></iframe>
              <p class="card-text text-center">Camera 3</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12" (click)="selectCamera('HkdDJyD65mg', 'Main Camera')">
              <iframe
                class="card-img-top"
                src="https://www.youtube.com/embed/HkdDJyD65mg"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                style="width: 100%; height: 150px;"
              ></iframe>
              <p class="card-text text-center">Camera 4</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
