.main-container {
  padding: 20px 0;
  height: auto;
}

.search label {
  font-size: 16px;
  font-weight: 500;
 font-family: "Roboto", sans-serif;
}

.search input::placeholder {
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 500;
   font-family: "Roboto", sans-serif;
}

.search button {
  color: #fff;
  background-color: #FF8C32;
  padding: 8px 10px;
  border: none;
   font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.left,
.right {
  display: flex;
  align-items: stretch;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-camera .card-img-top {
  height: 300px;
  object-fit: cover;
}

.cameras-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cameras-card .card-body {
  flex-grow: 1;
}

.cameras-card .card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .main-container {
    padding: 10px;
  }

  .search {
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
  }

  .search input {
    width: 40%; 
    max-width: 200px; 
    margin-right: 5px; 
  }

  .search button {
    padding: 8px 5px; 
  }

  .left, .right {
    flex-direction: column; 
    width: 100%;
  }

  .card {
    margin-bottom: 20px; 
  }

  .main-camera .card-img-top {
    height: 200px; 
  }

  .cameras-card .card-img-top {
    height: 120px; 
  }
}
